<!DOCTYPE html>
<html>
  <head>
    <script src = "https://kit.fontawesome.com/aab81213bd.js" crossorigin="anonymous"></script>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <title>BugZilla</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application' %>
      <%= csrf_meta_tag %>

  </head>
  <body>
    <div class="bg-image text-white" style="background-image: url('https://images.unsplash.com/photo-1477346611705-65d1883cee1e?ixlib=rb-0.3.5&amp;q=80&amp;fm=jpg&amp;crop=entropy&amp;cs=tinysrgb&amp;w=1920&amp;fit=max&amp;ixid=eyJhcHBfaWQiOjMyMDc0fQ&amp;s=c0d43804e2c7c93143fe8ff65398c8e9');height: 100vh">
      <%if user_signed_in?%>
        <%= render "layouts/navbar" %>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
